#featured {
    img {
        height: 100%;
        object-fit: cover;
        border-radius: 4px;
    }
}

.card {
    position: relative;
    overflow: hidden;
    border-radius: 4px;

    &::before {
        content: "";
        position: absolute;
        top: 50%;
        inset: 0;
        background: linear-gradient(
            180deg,
            transparent 0%,
            #020617 100%
        );
    }

    figcaption {
        position: absolute;
        bottom: 0;

        padding: 24px;

        &:has(.text-lg) {
            padding: 12px;
        }

        h2 {
            margin-top: 8px;
        }
    }
}