.grid {
    display: grid;
}

#container {
    max-width: 1280px;
    margin-inline: auto;
}

.grid-flow-col {
    grid-auto-flow: column;
}

.grid-cols-2 {
    grid-template-columns: 1fr 1fr;
}

.gap-16 {
    gap: 16px;
}

.gap-32 {
    gap: 32px;
}

.text-2xl {
    font: var(--text-xxg);
    color: var(--text-color-primary);
}

.text-xl {
    font: var(--text-xg);
    color: var(--text-color-primary);
}

.text-lg {
    font: var(--text-lg);
    color: var(--text-color-primary);
}

.text-sm {
    font: var(--font-md);
    color: var(--text-color-primary);
}